[0-9a-zA-Z]*-[0-9a-zA-Z]*-[0-9a-zA-Z]*-[0-9a-zA-Z]*-[0-9a-zA-Z]*

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dist/
dist-deploy/
apps/*/dist/
apps/*/dist-deploy/
packages/*/dist/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Prevent yarn/npm usage (project uses bun)
yarn.lock
package-lock.json

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
buildInfo.json
.env
.env.*
!.env.example

# Recordings and data
recordings/
data/
**/*/.turbo
.turbo